/*@import "~bootstrap/dist/css/bootstrap.min.css";*/
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
